body{
    background: black;
    color: white;
}

:root{
    --font-inter:'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#top{

    display: flex;
    justify-content: center;
    height: 93px;
}
#top #box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

h1{
    font-size: 1.1rem;
    font-family: var(--font-inter);
    border: 1px solid #8E54E9;
    padding: 0.7rem;
    border-radius:3px;
}

/* ===================banner=============== */
#hero{
    width: 100%;
   margin-top: 80px;
}

#hero .box-hero{
    width: 70%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* ================left============= */
#hero .box-hero .left-text h2 {
    font-size: 2.5rem;
    font-family: var(--font-inter);
    width: 28.8rem;
    margin-bottom: 30px;
}

#hero .box-hero img{
    margin-bottom: 30px;
}

#hero .box-hero .left-text p {
    font-family: var(--font-inter);
    font-weight: 100;
    font-size: 0.7rem;
    width: 256px;
    line-height: 24px;
    margin-bottom: 30px;
}

/* ================right============= */
.right-image-banner{
    width: 50%;
    background: white;
    height: 355px;
    color: black;
    padding: 1.4rem;
}
.right-image-banner .box-off{
   display: flex;
   align-items: center;
   gap: 1.8rem;
   font-family: var(--font-inter);
}
.right-image-banner span{
    background: black;
    color: white;
    width: 30%;
    border-radius: 3px;
    padding: 0.5rem;
    margin-top: 10px;
    text-align: center;
}
.right-image-banner .box-off p{
   color: black;
}


/* ====================box-price================== */
.box-price{
    margin-top: 50px;
}

.box-price .old-price{
    font-family: var(--font-inter);
}
.box-price .old-price p{
    font-family: var(--font-inter);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.box-price .old-price p strong{
    text-decoration: line-through;
}

.box-price .old-price h3{
    font-family: var(--font-inter);
    font-size: 2.9rem;
    margin-bottom: 3.9rem;
}
.box-price .old-price button{
   width: 100%;
   padding: 0.9rem;
   background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
border-radius: 4px;
border: none;
color: white;

}
.box-price .old-price .information-card{
 text-align: center;
 font-size: 0.8rem;
 padding: 0.5rem;
}


/* =========MOBILE============= */

@media (max-width:500px){
    #hero .box-hero{
        width: 100%;
        margin-inline: auto;
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* =============left====== */
    #hero .box-hero .left-text h2 {
        font-size: 2.5rem;
        font-family: var(--font-inter);
        width: 27.8rem;
        margin-bottom: 30px;
    }
    #hero .box-hero .left-text p {
       text-align: center;
       width: 100%;
    }
    /* =============right====== */
    .right-image-banner{
        width: 90%;
        background: white;
        height: 355px;
        color: black;
        padding: 1.4rem;
    }
    
}

